.all-parks-container {
  padding: 20px;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.all-parks-wrapper {
  display: flex;
  flex-direction: column;
}