.single-park-page {
  /* border: 2px solid salmon; */
  height: 150vh;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

.single-park-details {
  border: 1px solid black;
  height: 23rem;
  width: 50rem;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  /* align-items: center; */
  background: #cfc7c6e8;
  padding: .5rem;
}

.single-park-image {
  display: flex;
  height: 22rem;
  width: 23rem;
  border: 1px solid red;
  align-items: center;
  background: #cfc7c6e8;
  padding: .5rem;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
}

.single-park-text {
  border: 1px solid green;
  height: 24rem;
  width: 50rem;
}

.individual-image {
  height: 16rem;
  width: 19rem;
  border-radius: 3px;
}